// Variables intended for use via theme.module.scss.

$titleColor0: #4377CD; // N
$titleColor1: #5097BA; // E
$titleColor2: #63AC9A; // X
$titleColor3: #7CB879; // T
$titleColor4: #9ABE5C; // S
$titleColor5: #B9BC4A; // T
$titleColor6: #D4B13F; // R
$titleColor7: #E49938; // A
$titleColor8: #E67030; // I
$titleColor9: #DE3C26; // N

$blue: #5097BA;
$darkGrey: #333;

$niceLineHeight: 1.6;
