nav {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0px;
  margin: auto;
  overflow: hidden;

  a {
    color: var(--darkGrey);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 12px;
    text-decoration: none;
  }

  .logo {
    padding: 0 2px 0 8px;
  }

  .wordmark {
    padding: 0px;

    > span {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
