.background {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.modalContainer {
  background-color: #fff;
  border: 2px solid black;
  font-size: 18px;
  left: 10%;
  max-width: 80%;
  min-height: 80%;
  min-width: 80%;
  padding: 20px;
  position: fixed;
  top: 10%;
  z-index: 100;
}

.title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
}
