:root {
  --nice-line-height: 1.6;
  --tight-line-height: 1.4;
  --nice-font-size: 16px;
  --small-font-size: 12px;
  --dark-grey: #333;
  --med-grey: #888;
  --light-grey: #D3D3D3;
  --extra-light-grey: #F1F1F1;
  --general-font: 'Lato', 'Helvetica Neue', sans-serif;
}

/* 
  Lato fonts downloaded from https://www.latofonts.com/,
  which also includes the mapping of CSS weights to font names.
  Only a subset of the available weights imported here to reduce bundle size
*/
@font-face {
  font-family: 'lato';
  font-weight: 300;
  src: local('lato'), url(./fonts/LatoLatin-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'lato';
  font-weight: 500;
  src: local('lato'), url(./fonts/LatoLatin-Medium.woff2) format('woff2');
}

html {
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--general-font);
  font-weight: 300;
}

.bodyContainer {
  padding-left: 25px;
  padding-right: 25px;
  display: block;
}

.bodyContainer h1 {
  text-align: center;
  font-size: 38px;
  line-height: 32px;
  font-weight: 300;
  color: var(--dark-grey);
  min-width: 240px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bodyContainer h2 {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--dark-grey);
  min-width: 240px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bodyContainer p.focusParagraph {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: left;
  font-size: var(--nice-font-size);
  font-weight: 300;
  line-height: var(--tight-line-height);
}

.flexCenter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.bodyContainer p.centeredFocusParagraph {
  max-width: 640px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;
  font-size: var(--nice-font-size);
  font-weight: 300;
  line-height: var(--tight-line-height);
}
.centeredFocusParagraph strong {
  font-weight: 500;
}

.bigSpacer {
  height: 20px;
}

.splash button {
  border: 1px solid #CCC;
  background-color: inherit;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  font-family: var(--general-font);
  color: var(--med-grey);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14;
  vertical-align: middle;
}
.splash button:hover {
  color: black;
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  height: 50px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  overflow: hidden;
  left: 0px;
  z-index: 1001;
  transition: left .3s ease-out; /* ?!?! is this copy-pasta from auspice? */
}

.header .nextstrainLogo {
  padding-left: 8px;
  padding-right: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  font-size: 16px;
}

.header a {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none !important;
  font-size: 16px !important;
  font-weight: 400;
  color: var(--dark-grey) !important;
  cursor: pointer;
}

.header span .letter {
  padding: 0px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}