/* this is the basic style for all FocusParagraph */
.focus {
  font-size: var(--niceFontSize);
  line-height: var(--tightLineHight);
  margin: 20px 0 0;
}

/* this is specifically *added* to the base style for FocusParagraphCentered */
.centered {
  max-width: 640px;
  text-align: center;
}
.centered > strong {
  font-weight: 400;
}

/* this is specifically *added* to the base style for FocusParagraphNarrow */
.narrow {
  max-width: 640px;
  text-align: left;
}
