/* for debugging: add a border to all other elements on the page */
/* body * { border: 1px solid red; } */

html {
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* We use nextjs' next/font to manage our primary font (Lato). `var(--lato)` is defined in pages/_app.tsx */
    font-family: var(--lato), 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
