/* for debugging: add a border to all other elements on the page */
/* body * { border: 1px solid red; } */

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

@media (min-width: 550px) { /* apply these styles down to/until we're at 700px */
  .twitterRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .twitterColumn {
    display: flex;
    flex-direction: column;
  }
}
